<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TEST - LOGIN</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-6 col-md-8">

                <div class="card o-hidden border-0 shadow-lg my-5 custom-margin-top">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img src="/img/logo.png" alt="Logo UNIB" width="220" class="mt-n4">  
                                    </div>
                                    <form class="none" action="/dokumen/cek-dokumen" method="POST" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="file">Masukkan Dokumen Transkrip</label>
                                            <input type="file" class="form-control" name="file_transkrip" placeholder="Masukkan Dokumen Transkrip" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="npm">NPM</label>
                                            <input type="text" class="form-control" name="npm" placeholder="Masukkan NPM">
                                            {{ if .Error }}
                                                {{ if .Error.NPM }}
                                                <small class="text-danger mt-1"><i class="fas fa-exclamation-circle"></i> {{ .Error.NPM }}</small>
                                                {{ end }}
                                            {{ end }}
                                            {{ if .ErrorFindNPM }}
                                                <small class="text-danger mt-1"><i class="fas fa-exclamation-circle"></i> NPM tidak ditemukan.</small>
                                            {{ end }}

                                            {{ if .ErrorKey }}
                                                <small class="text-danger mt-1"><i class="fas fa-exclamation-circle"></i> NPM tidak sesuai dengan dokumen.</small>
                                            {{ end }}
                                        
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block custom-button-margin">
                                            Cek Legalitas Dokumen
                                        </button>
                                        <div class="text-center mt-2">
                                            <a href="/">Kembali ke halaman Login</a>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>